@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
/* h1 {
}
h2 {
}
h3 {
} */
h4 {
  font-size: x-large;
}
p {
  font-weight: 300;
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

html,
body {
  font-size: 62.5%;
}

/* MENU */
.head {
  width: 100%;
  background-color: #0e0d0d;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.container-menu {
  width: 80%;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
}
.logo span {
  color: #e51b3e;
}
.logo-capa{
  font-size: 8rem;
}

.menu ul {
  display: flex;
  gap: 24px;
}

.menu a {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: bold;
}
.menu a:hover {
  color: #e51b3e;
}
/* -------------------------CAPA--------------------------- */
/* BANNER CAPA */
.banner-capa {
  background: no-repeat center/cover url("../img/capa.jpg");
  height: 100vh;
  margin-top: 60px;
  background-attachment: fixed;
  border-bottom: 4px solid #e51b3e;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-capa {
  display: grid;
}

.titulo-capa {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  color: #e51b3e;
  margin-bottom: 10px 0;
}
.confira {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  margin: 10px 0;
}

/* BOTÃO EXPLORAR NA CAPA */
.button-explorar {
  width: 322px;
  padding: 15px;
  text-align: center;
  border-radius: 12px;
  background: rgba(51, 187, 105, 0.08);
  box-sizing: border-box;
  border: 2px solid #33bb69;
  margin: 20px 0;
  justify-self: center;
}
.texto-explorar {
  font-size: x-large;
  color: #ffffff;
  font-weight: 300;
}
/* -------------------------CAPA-FIM--------------------------- */
/* -------------------------ITENS------------------------------ */
.cards {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-items: center;
  gap: 40px;
  margin-bottom: 30px;
}
.banner-capa-itens {
  background: no-repeat center/cover url("../img/capa.jpg");
  height: 60vh;
  margin-top: 60px;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itens-texto {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 48px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
}
/* IMAGENS DOS CARDS */
.imagen-joker {
  background: no-repeat center/cover url("../img/itens/Joker.jpg");
}
.imagen-after {
  background: no-repeat center/cover url("../img/itens/After.jpg");
}
.imagen-marvel {
  background: no-repeat center/cover url("../img/itens/Marvel.jpg");
}
.imagen-dora {
  background: no-repeat center/cover url("../img/itens/Dora.jpg");
}
.imagen-1917 {
  background: no-repeat center/cover url("../img/itens/1917.jpg");
}
.imagen-thor {
  background: no-repeat center/cover url("../img/itens/Thor.jpg");
}

.card-itens {
  width: 100%;
  height: 500px;
  border-radius: 14px;
  filter: drop-shadow(0px 8px 12px rgba(0, 0, 0, 0.1));
  display: flex;
  align-items: flex-end;
}
.conteudo-card {
  width: 100%;
  height: 270px;
  border-radius: 12px;
  background: #f4f4f4;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.conteudo-card-botao {
  width: 100%;
  padding: 10px;
  background: #33bb69;
  border-radius: 12px;
  border-style: none;
  text-align: center;
  color: #ffffff;
  font-size: x-large;
}
.conteudo-card-descricao {
  margin: 10px 0;
}

/* -------------------------ITENS-FIM--------------------------- */
/*------------------PAGINA-CADA-FILME--------------------------- */
.banner-filme {
  height: 80vh;
  margin-top: 60px;
}

.banner-interestelar {
  background: no-repeat center/cover
    url("../img/interestelar/interestelar2.jpg");
  background-attachment: fixed;
}

.banner-vingadores {
  background: no-repeat center/cover url("../img/vingadores/vingadores5.jpg");
  background-attachment: fixed;
}

.banner-doutor_estranho {
  background: no-repeat center/cover
    url("../img/doutor_estranho/doutor_estranho1.jpg");
  background-attachment: fixed;
}

.banner-joker {
  background: no-repeat center/cover url("../img/joker/joker2.jpg");
  background-attachment: fixed;
}

.banner-batman {
  background: no-repeat center/cover url("../img/batman/batman9.jpg");
  background-attachment: fixed;
}

.banner-homem_aranha {
  background: no-repeat center/cover
    url("../img/homem_aranha/homem_aranha4.jpg");
  background-attachment: fixed;
}

.titulo-principal {
  font-size: 3.4rem;
  font-weight: bold;
  margin-top: 32px;
  margin-bottom: 3px;
}

.info-musica p {
  font-size: 1.6rem;
  text-align: justify;
}

.conteudo {
  width: 80%;
  margin: 0 auto;
}

.producao {
  display: flex;
  margin-top: 32px;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.producao h2 {
  font-size: 2.2rem;
  color: #000000;
  font-weight: medium;
}
.producao h3 {
  font-size: 1.6rem;
  color: rgba(0, 133, 255, 0.75);
  font-weight: normal;
}

.video {
  height: 500px;
  margin-top: 42px;
  margin-bottom: 100px;
}
.titulo-video {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 16px;
}
iframe {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

/* FOOTER */
.rodape {
  height: 300px auto;
  background-color: #0c0c14;
  border-top: 4px solid #e51b3e;
}

.container-footer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 100px;
}
.aluno {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.aluno h2 {
  font-size: 2.4rem;
  font-weight: normal;
  color: #ffffff;
  margin: 0 auto;
}
.aluno h3 {
  font-size: 1.4rem;
  font-weight: normal;
  color: #ffffff;
}

/* ICONES FOOTER */
.container-icon {
  width: 180px;
  display: flex;
  justify-content: space-evenly;
}
.circulo {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.circulo i {
  font-size: 3rem;
  color: #ffffff;
}
.circulo i:hover {
  color: #e51b3e;
}

/* RESPONSIVO */

@media (max-width: 725px) {
  .producao {
    gap: 30px;
  }
}

@media (max-width: 525px) {
  .container-menu {
    height: 150px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .container-footer {
    flex-direction: column;
    align-items: center;
  }
  .banner {
    margin-top: 150px;
  }
  .video {
    height: 400px;
  }
}
@media (max-width: 325px) {
  .container-menu {
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .menu ul {
    margin-top: 40px;
    display: flex;

    flex-direction: column;
    align-items: center;
  }
  .container-footer {
    flex-direction: column;
    align-items: center;
  }
  .banner {
    margin-top: 150px;
  }
  .video {
    height: 400px;
  }
}
